{% extends "layout.html" %} {% block body %}
<h1>
  {{task.name}}
</h1>

<a href="{{url_for('tasks_edit_task', task_id = task.id)}}">Edit task</a>
<br>
<a href="{{url_for('tasks_confirm_delete', task_id = task.id)}}">Delete task</a>
<br>
<br>

<h4>
  Details
</h4>

<table class="table">
  <tr>
    <td>
      Is done
    </td>
    <td>
      {{task.done}}
    </td>
  </tr>
  <tr>
    <td>
      Progress
    </td>
    <td>
      {{task.progress}} / 1.0
    </td>
  </tr>
  <tr>
    <td>
      Date created
    </td>
    <td>
      {{task.parsed_date}}
    </td>
  </tr>
  <tr>
    <td>
      Estimated time requirement
    </td>
    <td>
      {{task.estimate}} minutes
    </td>
  </tr>
  <tr>
    <td>
      Total time spent
    </td>
    <td>
      {{total_time}} minutes
    </td>
  </tr>
</table>
<br>

<h4>
  Classes
</h4>

<table class="table">
  {% for c in task.classes %}
  <tr>
    <td><a href="{{url_for('classes_details', class_id = c.id)}}">{{c.name}}</a></td>
  </tr>
  {% endfor %}
</table>

<h4>
  Work sessions
</h4>

<table class="table">
  {% for wp in working_periods %}
  <tr>
    <td>{{wp.details_string}}</td>
    <td><a href="{{url_for('working_periods_delete_confirm', wp_id = wp.id)}}">Delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
