{% extends "layout.html" %} {% block body %}
<h1>
  Your tasks
</h1>

<a href="{{url_for('tasks_new')}}">Add a new task</a>
<br>
<br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Task</th>
      <th>Done</th>
      <th>Progress</th>
    </tr>
  </thead>
  {% for task in tasks %}
  <tr>
    <td>
      <a href="{{url_for('tasks_details', task_id = task.id)}}">{{task.name}}</a>
    </td>
    <td>{{ task.done }}</td>
    <td>{{ task.progress }} / 1.0</td>
  </tr>
  {% endfor %}
</table>
<p>
  Click on a task to see details and edit.<br>Tasks are ordered by completion and name.
</p>
{% endblock %}
