{% extends "layout.html" %} {% block body %}
<h1>
  Creating a new work session
</h1>
<form method="POST" action="{{ url_for('working_periods_new') }}">
  <div class="form-group">
    <label for="{{ form.task.id }}" class="control-label">{{ form.task.label }}</label>
    <div>
      {{ form.task(class='form-control') }}
    </div>
    {% if form.task.errors %} {% for e in form.task.errors %}
    <small class="form-text text-muted">{{ e }}</small>
    {% endfor %} {% endif %}
  </div>
  <div class="form-group">
    <label for="{{ form.time.id }}" class="control-label">{{ form.time.label }}</label>
    <div>
      {{ form.time(class='form-control') }}
    </div>
    {% if form.time.errors %} {% for e in form.time.errors %}
    <small class="form-text text-muted">{{ e }}</small>
    {% endfor %} {% endif %}
  </div>
  <div class="form-group">
    <label for="{{ form.length.id }}" class="control-label">{{ form.length.label }}</label>
    <div>
      {{ form.length(class='form-control') }}
    </div>
    {% if form.length.errors %} {% for e in form.length.errors %}
    <small class="form-text text-muted">{{ e }</small>
    {% endfor %} {% endif %}
  </div>
  <div class="form-group">
    <label for="{{ form.quality.id }}" class="control-label">{{ form.quality.label }}</label>
    <div>
      {{ form.quality(class='form-control') }}
    </div>
    {% if form.quality.errors %} {% for e in form.quality.errors %}
    <small class="form-text text-muted">{{ e }}</small>
    {% endfor %} {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Create a work session</button>
</form>
{% endblock %}
