{% extends "layout.html" %} {% block body %}
<h1>
  Your classes
</h1>

<a href="{{url_for('classes_new')}}">Add a new class</a>
<br>
<br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Class</th>
      <th>Tasks</th>
    </tr>
  </thead>
  {% for class in classes %}
  <tr>
    <td>
      <a href="{{url_for('classes_details', class_id = class.id)}}">{{ class.name }}</a>
    </td>
    <td>
      {{ class.count }}
    </td>
  </tr>
  {% endfor %}
</table>
<p>
  Click on a class to see details and edit.
</p>
{% endblock %}
